.header {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);

    padding: 0;

    display: flex;
    position: relative;
    background-color: #b37344;

    
}


.header__title {
    width: 100%;
    margin: 0;
    padding: 0 11%;
    margin-top: 41vh;
    
    font-size: 30px;
    line-height: 36px;
    letter-spacing: .5px;
    text-align: center;
    color: #ffffff;
}
  