@font-face {
  font-family: "Opinion Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Opinion-Pro-Light"), local("Opinion-Pro-Light"), url("../fonts/Opinion-Pro-Light.woff2") format("woff2"), url("../fonts/Opinion-Pro-Light.woff") format("woff");
}

@font-face {
  font-family: "Opinion Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Opinion-Pro-Regular"), local("Opinion-Pro-Regular"), url("../fonts/Opinion-Pro-Regular.woff2") format("woff2"), url("../fonts/Opinion-Pro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Opinion Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Opinion-Pro-Medium"), local("Opinion-Pro-Medium"), url("../fonts/Opinion-Pro-Medium.woff2") format("woff2"), url("../fonts/Opinion-Pro-Medium.woff") format("woff");
}

@font-face {
  font-family: "Opinion Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Opinion-Pro-SemiBold"), local("Opinion-Pro-SemiBold"), url("../fonts/Opinion-Pro-SemiBold.woff2") format("woff2"), url("../fonts/Opinion-Pro-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Opinion Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Opinion-Pro-Bold"), local("Opinion-Pro-Bold"), url("../fonts/Opinion-Pro-Bold.woff2") format("woff2"), url("../fonts/Opinion-Pro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Ubuntu-Light"), local("Ubuntu-Light"), url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Ubuntu-Bold"), local("Ubuntu-Bold"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
}


   
html, body {
    min-width: 320px;
    min-height: 3500px;

    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    font-family: 'Opinion Pro', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;

    // background-image: url(../img/1.png);
    // background-size: 320px auto;
    // background-position: top center;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
   
  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  @import "blocks/container.scss";
  @import "blocks/header.scss";
  @import "blocks/features.scss";
  @import "blocks/for-who.scss";
  @import "blocks/how-go.scss";
  @import "blocks/base-learn.scss";
  @import "blocks/advanced-learn.scss";
  @import "blocks/have-questions.scss";
